body{
    background-image: radial-gradient(aqua,rgb(9, 186, 209),rgb(45, 149, 247),darkblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:auto ;
    padding: 0px;
}
.nav-link{
    color:black;

}
aside ul li{
    list-style-type: none;
}
footer ul li{
    list-style-type: none;

}
main{
    display: flex;
    flex: 1;
    display: grid;
    grid-template-areas:
    "h h h"
    "n n n"
    "e a as"
    "f f f"
;
}
.elerhetosegb{
    grid-area: e;
}
nav{
    grid-area: n;
}
aside{
    grid-area: as;

}
article{
    grid-area: a;
}
footer{
    grid-area: f;
}